/* 
    ?------------- Header ------------- 
*/


/* .html{
    background-color: red;
} */

/* 
    ?------------- Main ------------- 
*/
.main {
    padding: 2rem;
    /* border: 1px solid red; */
    display: grid;
    /* gap: 1rem; */
    grid-template-columns: 20% 80%;
    /* background-color: red; */
    /* margin: 8px; */
    background: rgb(2,0,36);
    background: linear-gradient(-235deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
}


/* 
    ?------------- Menu ------------- 
*/
.menu{
    /* border: 1px solid green; */
    display: grid;
    padding: 1rem 1.5rem;
    background-color: whitesmoke;
    /* border-right: 1px solid black; */
    background-color: #437191;
    color: aliceblue;
    border-radius: 16px 0 0 16px;
}
.menu_volver{
    display: grid;
    /* border: 1px solid red; */
}
.menu_volver a{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    border-bottom: 1px solid black;
}
.menu_home,
.menu_sin_asignar,
.menu_proyectos,
.menu_tabla{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu h2{
    color: aliceblue;
    border-bottom: 1px solid aliceblue;
}
.menu h3{
    /* font-weight: normal; */
    color: lightgray;
    transition: all .3s;
}
.menu h3:hover{
    /* font-weight: bold; */
    color: aqua;
    font-size: 1.25rem;
}
.menu_logo h3{
    color: aliceblue;
    /* font-weight: bold; */
}
.menu_volver img{
    filter: invert(1);
}

/* 
?------------- Show ------------- 
*/
.show{
    width: 100%;
    height: 90vh;
    /* border: 1px solid green; */
    display: grid;
    padding: 3rem;
    overflow: hidden;
    background-color: whitesmoke;
    border-radius: 0 16px 16px 0;
}
.show main{
    overflow-x: hidden;
    overflow-y: scroll;
    /* border: 1px solid salmon; */
}
