.header{
    margin: 2rem;
    /* background-color: royalblue; */
    border-bottom: 1px solid black;
}

.header a {
    width: 120px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.header a:hover {
    background-color: aliceblue;
    border-radius: 8px;
    color: black;
    filter: invert(1);
}

.titulo {
    text-align: center;
    /* background-color: royalblue; */
    /* color: aliceblue; */
}

/* ? ----------------------------- */
.main {
    padding: .5rem 3rem;
}


.grid {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 2rem;
    border-top: 1px solid black;
}

/* ? ----------------------------- */
.seleccionar_contain {
    margin: 1rem;
}

.seleccionar_contain h1 {
    font-size: 24px;
}

.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.tabla {
    border: 1px solid grey;
    border-radius: 8px;
    margin: 3rem 0;
    text-align: center;
}

.tabla_head {
    font-weight: bold;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 1px solid grey; 
    background-color: #2F59A5;
    color: aliceblue;
}

.tabla_head p {
    padding: 1rem;
}

.tabla_body {
    min-height: 315px;
    overflow-y: scroll;
}

.tabla_dato {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 1px solid grey; 
}

.tabla_dato p {
    border-right: 1px solid grey;
    padding: .5rem;
}

.tabla_dato button {
    height: 2rem;
}

/* ? ----------------------------- */
.pantalla_contain {
    margin: 1rem 0;
}

.selecionar_pantalla {
    margin: 2rem 1rem 0 1rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.selecionar_pantalla p {
    cursor: pointer;
}

.selecionar_pantalla p:hover {
    font-weight: bold;
}

.pantalla {
    width: 420px;
    margin: 3rem auto;
    padding: 3rem 1rem;
    display: grid;
    gap: 3rem;
    row-gap: 5rem;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid grey;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.90);
}

.pantalla button {
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
}

.nombre_touch {
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 40% 40% 20%;
    border-bottom: 1px solid black;
}

.nombre_touch h2 {
    text-align: center;
}

.nombre_touch button {
    justify-content: flex-end;
}

.sonar,
.sonando {
    width: 80px;
    margin: 1rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 3px solid rgb(41, 95, 41);
    border-radius: 8px;
    padding: .5rem;
    margin-left: auto;
}

.sonar:hover {
    background-color: rgb(41, 95, 41);
    color: aliceblue;
}

.sonando {
    border-color: red;
    background-color: lightcoral;
    color: aliceblue;
}

.sonando:hover {
    background-color: aliceblue;
    color: black;
}


/* *----------------------------------- */
.modificarDatos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border: 1px solid gray;
    padding: 1rem 2rem;
    border-radius: 8px;
    gap: 1rem;
    margin: 0 auto;
}


.ssid,
.pass,
.identificador,
.project {
    display: flex;
    justify-content: space-between;
    margin: 1rem 7rem;
}

.modificarDatos input {
    text-align: center;
    border: none;
    border-bottom: 1px solid black;
}

.ssid_button {
    width: 100px;
    margin: 1rem auto;
}


/* *----------------------------------- */
.sin_datos {
    color: red;
    margin-top: 5rem;
}