/* ?
    Los demas stilos estan en la pagina de login
*/

.error h2 {
    border-bottom: 1px solid red;
    /* color: red; */
}

.error p {
    width: 280px;
    margin: 1rem auto;
    color: red;
}


.error {
    animation: cartel 1s 1;
    transform-origin: top center;
}

@keyframes cartel {
    20% {
        transform: rotate(20deg);
    }

    40% {
        transform: rotate(-15deg);
    }

    60% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(-5deg);
    }
}