.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
    border-bottom: 1px solid gray;
    /* background-color: #413CA6; */
    background-color: #2F59A5;
    /* background-color: #0093E9; */
    /* background-color: #121212; */
    /* overflow-x: scroll; */
    
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo,
.menus,
.login {
    display: flex;
    gap: 1rem;

}
.menus{
    justify-content: center;
}
.login{
    justify-content: right;
}
.header h4{
    font-weight: normal;
}
.header h3{
    text-decoration: underline;
}
.header h4:hover{
    font-weight: bolder;
}