.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: born 2.5s;
}

.main h2 {
    margin: 0;
    padding: 0;
}

.buscador {
    display: flex;
    align-items: center;
}

/* main{
    border: 1px solid red;
  } */
.buscador input {
    background-color: transparent;
    border: 0;
    border-bottom: .1rem solid aliceblue;
    margin: 1rem;
    color: aliceblue;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.tabla {
    width: 80%;
    height: 600px;
    margin: .1rem 10%;
    overflow: scroll;
}

/* width */
.tabla::-webkit-scrollbar {
    width: 0.5rem;
}


/* Track */
.tabla::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.tabla::-webkit-scrollbar-thumb {
    /* background: #888; */
    background: #ffdd57;
    border-radius: 10px;
}

/* Handle on hover */
.tabla::-webkit-scrollbar-thumb:hover {
    background: #555;
    width: 1rem;
}

.tabla table {
    display: block;
}

.tabla thead {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}

.tabla thead tr {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    border-bottom: 1px solid aliceblue;
}

.tabla thead tr td {
    /* background-color: red; */
    text-align: center;
    margin: 1rem;

}

.tabla tbody tr {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    text-align: center;
    border-bottom: 1px solid gray;
}

.tabla tbody tr td {
    margin: 0.2rem 1rem;
}


@keyframes born {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}